.card.product-control {
    position: relative;
    padding: 20px;
    padding-bottom: 84px;
    margin-bottom: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-style: dashed;
    border-color: green;
}

.checkbox-design {
    position: relative;
    height: 50px;
    width: 50px;
    padding: 20px;
}